# Ignore Python virtual environments


# Ignore specific files
lin_requirements.txt  # Ignore lin_requirements.txt at the root
win_requirements.txt  # Ignore lin_requirements.txt at the root
/lvenv
/wvenv
